<section class="container py-2">
  <div class="row justify-content-center">
    <div id="idAlertErro" class="col-auto"></div>
  </div>
</section>

<section class="container py-2">
  <div class="table-responsive">
    <table
      class="table table-dark table-striped table-hover table-bordered border-secondary caption-top shadow-sm text-center align-middle">
      <caption class="text-center text-dark display-6">Lista dos candidatos mais votados
      </caption>
      <thead class="table-info">
        <tr id="idColuna">
          <th scope="col">Colocação</th>
          <th scope="col">Foto</th>
          <th scope="col">Número</th>
          <th scope="col">Nome</th>
          <th scope="col">Votos</th>
        </tr>
      </thead>
      <tbody id="idTableBody" *ngIf="votos.length > 0; else listaVazia">
        <tr *ngFor="let voto of votos">
          <td>----</td>
          <td>----</td>
          <td>{{voto.numCandidato}}</td>
          <td>----</td>
          <td>----</td>
        </tr>
      </tbody>
      <tfoot class="table-info">
        <tr>
          <td colspan="5" class="table-active text-center"> <a class="link-dark" href="#" target="_blank">Repositório do
              Bitbucket</a></td>
        </tr>
      </tfoot>
    </table>
  </div>

  <ng-template #listaVazia>
    <tr>
      <td colspan="5" class="table-active text-center table-dark table-striped bg-dark">Nenhum registro foi encontrado.
      </td>
    </tr>
  </ng-template>
</section>
