<section id="secSelectCand">
  <div class="container py-2">
      <form action="" method="POST" class="was-validated" (ngSubmit)="votar()">
          <fieldset>
              <legend class="fs-1 text-center">Urna Eletrônica</legend>

              <div class="row justify-content-center">
                  <div id="idAlertErro" class="col-auto"></div>
              </div>

              <div class="row justify-content-center">

                  <div id="idDivComponentesRg" class="col-auto text-center visually-hidden">
                      <label for="idInputRg" class="form-label"><b>RG:</b></label>
                      <input type="number" id="idInputRg" class="form-control is-valid is-invalid"
                          pattern="^[0-9]{2}\.[0-9]{3}\.[0-9]{3}\-[0-9]{1}$" name="nmRg" autocomplete="off"
                          [(ngModel)]="rg" autofocus required>
                  </div>

                  <div class="d-grid gap-2 d-md-flex justify-content-md-center py-2">
                      <output><span><b> Digite o nome/número do candidato desejado:
                              </b></span></output>
                  </div>
              </div>

              <div class="row justify-content-center py-3">
                  <div class="col-auto">
                      <label for="idInputCand" class="form-label">Escolha uma opção:</label>
                  </div>
                  <div class="col-auto">
                      <input id="idInputCand" class="form-control is-valid is-invalid" list="candidatos" name="numCandidato"
                          autocomplete="off" [(ngModel)]="numCandidato" required>
                      <datalist id="candidatos">
                          <option value="1">João</option>
                          <option value="2">Maria</option>
                          <option value="3">Silvia</option>
                          <option value="4">Marcos</option>
                          <option value="5">Matheus</option>
                          <option value="6">Antônio</option>
                      </datalist>

                  </div>

              </div>

              <div id="idDivPolaroid" class="polaroid visually-hidden">
                  <figure>
                      <img src="#" id="idImagemCand" class="img-fluid img-thumbnail rounded mx-auto d-block"
                          alt="Imagem Candidato" height="10" style="width: 250px;">
                      <figcaption class="row justify-content-center text-danger" id="idNomeCodgCand">
                          Candidato(a) não identificado(a) (Nº ---)</figcaption>
                  </figure>
              </div>

              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                  <button id="idConfirm" type="sumit" >
                      <span id="idSpanSpinnerBtConfirm" class="spinner-border spinner-border-sm visually-hidden"
                          role="status" aria-hidden="true"></span>
                      Confirmar
                  </button>
                  <button id="idReset" type="reset" disabled>
                      Cancelar
                  </button>
                  <button id="idBranco" type="button" disabled>
                      <span id="idSpanSpinnerBtBranco" class="spinner-border spinner-border-sm visually-hidden"
                          role="status" aria-hidden="true"></span>
                      Branco
                  </button>
              </div>


          </fieldset>
      </form>
  </div>
  <script defer src="./dist/out-tsc/contabilizacao-votos.js"> </script>
</section>
