/* ------------ Botao Geral ------------ */

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* ------------ Botao Confirm ------------ */

#idConfirm {
  background-color: #4CAF50;
}

#idConfirm:hover {
  background-color: #3e8e41
}

#idConfirm:active {
  background-color: #3e8e41;
}

/* ------------ Botao Reset ------------ */

#idReset {
  background-color: yellow;
  color: black;
}

#idReset:hover {
  background-color: rgb(233, 233, 1);
}

#idReset:active {
  background-color: darkgoldenrod;
}

/* ------------ Botao Branco ------------ */

#idBranco {
  background-color: white;
  color: black;
}

#idBranco:hover {
  background-color: rgb(218, 216, 216);
}

#idBranco:active {
  background-color: darkgray;
}
